* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo--app--content {
  width: 40vw;
  height: 80vh;
  background-color: aliceblue;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 4px gray;
  overflow: auto;
}

.form {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  padding: 20px;
  font: bold 13px "lucida sans", "trebuchet MS", "Tahoma";
  gap: 20px;
  justify-content: space-between;
}
.form p {
  font: bold 13px "lucida sans", "trebuchet MS", "Tahoma";
}
.form label {
  font: bold 18px "lucida sans", "trebuchet MS", "Tahoma";
}

.radio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  gap: 2px;
}
.radio legend {
  font: bold 16px "lucida sans", "trebuchet MS", "Tahoma";
  color: rgb(71, 116, 240);
}

.btn-submit {
  display: block;
  width: 100%;
  border: none;
  background-color: #3096e9;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.btn-submit:hover {
  color: white;
  opacity: 70%;
}

.input--todo {
  width: 78.2%;
  padding: 5px;
}

.search {
  /* border: 2px solid red; */
  box-shadow: none;
  align-items: center;
  padding: 10px 5px;
  display: flex;
  gap: 5px;
  width: 100px;
  height: 30px;
  padding-left: 20px;
  float: left;
  font: bold 13px "lucida sans", "trebuchet MS", "Tahoma";
  border: 0;
  background: #fff;
  border-radius: 40px;
  border-top-style: none;
}

.form--head {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 10px;
  align-items: center;
  border: 1px solid #3096e9;
  /* border: 2px solid red; */
}
.form--head span {
  font: bold 20px "lucida sans", "trebuchet MS";
}

.todos--list {
  /* border: 2px solid red; */
}

.todos-ul {
  /* border: 2px solid red; */
  list-style: none;
  padding: 10px;
  z-index: -1;
}
.todo-li {
  /* border: 2px solid #3096e9; */
  box-shadow: 0px 0px 3px 3px #3096e9;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.changeMe {
  /* border: 2px solid red; */
  padding: 3px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.changeMe button {
  /* border: 2px solid red; */
  padding: 5px;
  width: 4em;
  background-color: #3096e9;
  border-radius: 5px;
  border: none;
  color: #fff;
}

.edit-modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

.form-edit {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  margin-top: 10em;
  padding: 20px;
  border: 1px solid #8888;
  width: 30%;
  border-radius: 5px;
}

.edit--form {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}

.radio--edit {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  gap: 2px;
}
.radio--edit legend {
  font: bold 16px "lucida sans", "trebuchet MS", "Tahoma";
  color: rgb(71, 116, 240);
}

.btn-update {
  display: block;
  width: 100%;
  border: none;
  background-color: #3096e9;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: 2px solid red;
}

.btn-update:hover {
  color: white;
  opacity: 70%;
}
