.body {
  width: 90%;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid red; */
}

.body--elements {
  margin-top: 60px;
  margin-bottom: 65px;
  /* border: 2px solid blue; */
  height: 90vh;
}
.body--elements--parent {
  /* border: 2px solid seagreen; */
  display: flex;
  justify-content: flex-start;
  height: inherit;
  gap: 30px;
}

.body-1,
.body-2,
.body-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: inherit;
  /* border: 2px solid red; */
  width: 50%;
}

.body-p1,
p {
  /* height: 60vh; */
  /* border: 2px solid green; */
  display: block;
  align-items: flex-start;
  font-size: 20px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
}

.body-head-tag {
  margin-bottom: 20px;
  color: #6b6b6b;
  padding-top: 0;
  font-weight: 300;
  font-size: 20px;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .body {
    width: 100%;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .body--elements {
    margin-top: 60px;
    height: 60vh;
  }
  .body--elements--parent {
    justify-content: flex-start;
    height: inherit;
    width: 90vw;
    overflow-x: auto;
    grid-template-columns: repeat(10, 200px);
    gap: 30px;
  }
  .body-p1,
  p {
    display: block;
    align-items: flex-start;
    font-size: 12px;
  }
  .body-1,
  .body-2,
  .body-3 {
    padding-top: 10px;
  }
}
