.navbar{
    background-color: #20232a;
    height: 10vh;
    width: 100vw;
    overflow-x: auto;
    display: flex;
    position: fixed;
    z-index: 1;
    align-items: center;
}
.logo--tag{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;

}
.logo--tag h1{
    font-size: 24px;
    padding: 5px;
    margin-left: 10px;
    color: rgb(81, 205, 236);
}
.react--logo{
    width: 30px;
}
.links{
    list-style: none;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-around;
    gap: 40px;
    font-size: 18px;
    color: #fff;
    width: 100vw;
    cursor: pointer;
}

.links li:hover{
    color: rgb(81, 205, 236);
}
.links li a{
    text-decoration: none;
    color: #fff;
}
.links li a:hover{
    color: rgb(81, 205, 236);
}