.main-div {
  width: 40vw;
  height: 80vh;
  outline: none;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  overflow: auto;
}

.content_head_tag {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  row-gap: 10px;
}

.task_button {
  padding: 5px 10px 5px 10px;
  background: rgb(24, 120, 246);
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
}
.task_button:hover{
    background-color: rgb(135, 180, 239);
    cursor: pointer;
}
.task_tag{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(24, 120, 246);
}

.task--list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}